<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/mystyle.css">
    </head>
    <body>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-right navbar-icon" href="#"><span class="glyphicon glyphicon-user"></span> Login</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav-bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="navbar-brand" href="#">Arjun's Cloth Shop</a>
                    <form class="navbar-form navbar-right" action="/action_page.php">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        </div>
                    </form>
                  </div>
                  
                </div>
                
                
            </nav>
            <div class="collapse navbar-collapse" id="collapse-nav-bar">
                <ul  class="list-group side-nav-bar">
                    <li class="list-group-item list-color"><a href="#">item 1</a></li>
                    <li class="list-group-item list-color"><a href="#">item 2</a></li>
                    <li class="list-group-item list-color"><a href="#">item 3</a></li>
                    <li class="list-group-item list-color"><a href="#">item 4</a></li>
                    <li class="list-group-item list-color"><a href="#">item 5</a></li>
                </ul>
            </div>
    </body>
</html>