<html>
<body>

    <form id=“xForm" method = 'POST' action="/login">
        <label for='title'> email:</label>
        <input type="text" name="email" id="email" value="email">
        <p><label for='password'>password:</label>
                <input type="text" name="password" id="password" value="">
        </p>
        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>

</body>


</html>